.card-icon {
	width: 3em;
	color: red;

	/* padding: .1px, 20px, .0px, 20px; */
	/* position: relative; */
}

.card:hover {
	border-radius: .3em;
	/* transform: rotateY(15deg); */
	background-color: rgb(250, 248, 248);
	transition: transform 1s;
	-webkit-transition: .4s ease-in-out;
	-moz-transition: .4s ease-in-out;
	-o-transition: .4s ease-in-out;
	transition: .4s ease-in-out;
}


.card:hover .card-text {
	color: #000;
}



.card-title {
	margin-top: .8em;
	margin-bottom: .6em;
	color: rgb(24, 27, 27);
	font-size: 1.5em;
	font-weight: 500;
	margin-left: .8em;
}

/* .right h2,
.left h2 {
	margin-top: .8em;
	font-size: 1.5em;
	font-weight: 500;
	margin-left: .8em;
}

.right p,
.left p {
	color: darkslategrey;
	padding: 3px 20px 3px 20px; */


/* .left p {
	padding: 3px 20px 3px 20px;
	text-align: justify;
} */
/* .left h2 {
	position: relative;
	left: .5em;
} */

.right:hover span.icon {
	color: #fff;
	padding: 1.2em;
	background: #3a3388;
	/* -webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	transform: scale(1.2);
	-o-transform: scale(1.2);
	-ms-transform: scale(1.2); */
}